{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 style-div-index">
            <form class="text-center border border-light p-5" id="updateAutomotor">
                <p class="h4 mb-4">Actualizar datos de {{ automotor.automotor_type }}</p>
                <input type="hidden" class="automotor-id" value="{{ automotor.id }}">
                <input type="text" name="automotorName" class="form-control mb-4 automotorName" placeholder="Nombre de Automotor" value="{{ automotor.automotor_type }}" required="true">
                <input type="text" name="item" class="form-control mb-4 {% if automotor.enabled_items == false %} hidden {% endif %} item" value="{{ automotor.automotor_items }}" placeholder="Artículo a Almacenar">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input type="checkbox" class="fn-check-item" name="enabledItem" id="enabledItem" {% if automotor.enabled_items == true %} checked="true" {% endif %}><br>
                    <label for="enabledItem">Habilitar guardado de articulos para este tipo de Automotor</label>
                </div>
                <button class="btn btn-info btn-block my-4" type="submit">Actualizar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}