{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 style-padding-in-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <a href="javascript:" class="btn btn-light return-to-index">Volver</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                <a href="javascript:" class="btn btn-light newAutomotor float-right">Registrar Automotor</a>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><p class="h3 mb-4 text-center font-weight-bold">Automotores</p></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table datatable table-bordered">
                <thead class="grey lighten-2">
                    <tr>
                        <th scope="col">Automotor</th>
                        <th scope="col">Artículos</th>
                        <th scope="col">Guardado de Articulos</th>
                        <th scope="col">Editar</th>
                        {# <th scope="col">Eliminar</th> #}
                    </tr>
                </thead>
                <tbody>
                    {% for automotor in automotores %}
                        <tr>
                            <td>{{ automotor.automotor_type }}</td>
                            <td>{{ automotor.automotor_items }}</td>
                            <td>{% if automotor.enabled_items == true %} Si {% else %} No {% endif %}</td>
                            <td><a href="javascript:" class="edit-automotor" title="Editar Automotor" autId="{{ automotor.id }}"><img src="../public/imagenes/edit.png" width="30px"></a></td>
                            {# <td><a href="javascript:" class="delete-automotor" title="Eliminar Automotor" autId="{{ automotor.id }}"><img src="../public/imagenes/delete.png" width="30px"></a></td> #}
                        </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </div>       
    </div>
</div>
{% endblock %}