<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}{% endblock %}
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="../../node_modules/mdbootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../node_modules/mdbootstrap/css/mdb.min.css">
        <link rel="stylesheet" href="../public/css/style.css">
    {% endblock %}
</head>
<body>
    {% if login is not defined %}
        {% include "navbar.html.twig" %}
    {% endif %}
    {% include "messageLoading.html.twig" %}

    <div class="modal fade" id="confirmAccount" tabindex="-1" role="dialog" aria-labelledby="confirmAccount" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body text-center mb-1">
                    <h5 class="mt-1 mb-2">Confirme Cuenta Administrador</h5>
                    <form id="confirm-account-admin">
                        <div class="md-form ml-0 mr-0">
                            <input type="text" id="username-confirm" class="form-control ml-0">
                            <label for="username-confirm" class="ml-0">Username</label>
                        </div>
                        <div class="md-form ml-0 mr-0">
                            <input type="password" id="password-confirm" class="form-control ml-0">
                            <label for="password-confirm" class="ml-0">Password</label>
                        </div>

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-cyan waves-effect waves-light">Acceder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}

    {% block javascripts %}
        <script>
            window.$ = window.jQuery = require('../../node_modules/mdbootstrap/js/jquery.min.js');    
        </script>
        <script type="text/javascript" src="../../node_modules/mdbootstrap/js/popper.min.js"></script>
        <script type="text/javascript" src="../../node_modules/mdbootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../../node_modules/mdbootstrap/js/mdb.min.js"></script>
        <script type="text/javascript" src="../../node_modules/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="../plugins/jQuery-Mask-Plugin-master/dist/jquery.mask.min.js"></script>
        <script type="text/javascript" src="../../node_modules/chart.js/dist/Chart.min.js"></script>
        <script type="text/javascript" src="../../node_modules/bootbox/dist/bootbox.min.js"></script>
        <script type="text/javascript" src="../public/js/app.js"></script>
    {% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>