{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="daily-cash-flow-tab" data-toggle="tab" href="#daily-cash-flow" role="tab" aria-controls="daily-cash-flow" aria-selected="true">Flujo de caja diario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="monthly-cash-flow-tab" data-toggle="tab" href="#monthly-cash-flow" role="tab" aria-controls="monthly-cash-flow" aria-selected="true">Flujo de caja mensual</a>
            </li>
        </ul>
        <div class="tab-content col-lg-12 col-md-12 col-sm-12 col-xs-12" id="myTabContent">
            <div class="tab-pane fade show active" id="daily-cash-flow" role="tabpanel" aria-labelledby="daily-cash-flow-tab">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 style-pad-new-report-father">
                    <table class="table table-bordered">
                        <thead class="grey lighten-2">
                            <tr>
                                <th scope="col">Nombre Completo</th>
                                <th scope="col">Rol</th>
                                <th scope="col">Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dailyReport in dailyCashReport %}
                                <tr>
                                    <td>{{ dailyReport.user.name }} {{ dailyReport.user.lastname }}</td>
                                    <td>{{ dailyReport.user.rol }}</td>
                                    <td>{{ dailyReport.amount }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="2"><b>TOTAL EN CAJA</b></td>
                                <td>{{ dailyTotalAmount }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="monthly-cash-flow" role="tabpanel" aria-labelledby="monthly-cash-flow-tab">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 style-pad-new-report-father">
                    <canvas id="cashGraphic" class="style-cash-graphic"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(() => {
    const ctx = $('#cashGraphic')[0].getContext('2d');
    const data = {{ dataMonth|json_encode|raw }};
    const currentDate = new Date('{{ currentDate }}');
    
    let monthArray = [];
    let dataAmount = [];
    let background = [];
    
    $.each(data, (key, value) => { 
        monthArray.push(key + ' ($'+ addPoints(value.amount.toString()).split(',')[0] +')'); 
        dataAmount.push(value.amount); 
        background.push('rgb('+ value.color +',0.7)') 
    });

    var myChart= new Chart(ctx,{
        type:"bar",
        data:{
            labels: monthArray,
            datasets:[{
                label: 'Montos Registrados por mes (Año '+ currentDate.getFullYear() +')',
                data: dataAmount,
                backgroundColor: background
            }]
        },
        options:{
            scales:{
                yAxes:[{
                        ticks:{
                            beginAtZero:true
                        }
                }]
            }
        }
    });

    function addPoints(nStr) {
        nStr += '';
        var x = nStr.split('.');
        var x1 = x[0];
        var x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;

        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + '.' + '$2');
        }
        
        var result = x1 + x2;
        return result + ',00';
    }
});
</script>
{% endblock %}