{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 style-div-index">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <form class="text-center border border-light p-5" id="entry-register">
                    <p class="h4 mb-4 mt-4">Ingreso de Vehiculos</p>
                    <select class="form-control mb-4 inx-automotor automotor-load-rates" required="true">
                        <option value="" hidden>Tipo de automotor</option>
                        {% for key, automotor in automotores %}
                            <option value="{{ automotor.id }}" {% if key == 0 %} selected="true" {% endif %}>{{ automotor.automotor_type }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" class="form-control mb-4 inx-plate plate style-text-uppercase" placeholder="Placa" maxlength="6" required="true" autofocus="true">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-content-form-items hidden" style="padding: 0;">
                        <input type="text" class="form-control mb-4 item" placeholder="Articulo" readonly="true">
                        <input type="number" class="form-control mb-4 cant-item" maxlength="2" placeholder="Cantidad de articulos">
                    </div>
                    <select class="form-control mb-4 rates-by-automotor" required="true">
                        <option value="" hidden>Tarifa</option>
                    </select>
                    <input type="datetime-local" class="form-control mb-4 date-time-entry" placeholder="Fecha y hora de entrada" required="true">
                    <button class="btn btn-info btn-block my-4" type="submit">Ingresar</button>
                </form>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 style-pad-search-plate">
                    <input type="text" class="form-control search-by-plate style-text-uppercase" placeholder="Placa" maxlength="6">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <button class="btn btn-info btn-block search-plate">Buscar</button>
                </div>
                <table class="table table-bordered">
                    <thead class="grey lighten-2 text-center">
                        <tr>
                            <th scope="col">Fecha y hora de entrada</th>
                            <th scope="col">Automotor</th>
                            <th scope="col">Placa</th>
                            <th scope="col">Tarifa</th>
                        </tr>
                    </thead>
                    <tbody class="records-list text-center"></tbody>
                </table>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <button class="btn btn-info btn-block previous">Anterior</button>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <button class="btn btn-info btn-block next">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(() => {
    //checkOldRecordsForDatabaseCleaning();

    $('body').on('keyup', function(e){
        if(e.keyCode == 13){
            $('.date-time-entry').val(moment(new Date()).format('YYYY-MM-DDTHH:mm'));
            //$('#entry-register').children('button').click();
        }
    });

    let tomorrow = moment(new Date()).add(0,'days').hours(23).minutes(59).seconds(59).format('YYYY-MM-DDTHH:mm:ss');
    $('.date-time-entry').attr('max', tomorrow);

    let offset = 0;

    $.each($('.automotor-load-rates option'), (key, option) => {
        if ($(option).val() != '' && $(option).attr('selected')){
            initAddRates(option).then((r) => {
                if (r){
                    $.each($('.rates-by-automotor option'), (key, options) => {
                        if(key == 1){
                            $(options).attr('selected', true);
                        }
                    });
                }
            });
            
        }
    });

    function initAddRates(option){
        return new Promise((resolve, reject) => {
            let selected = $(option).val();
            let arrayData = {'automotorId': selected}
            let data = ipcRenderer.sendSync('consultRatesForAutomotor', JSON.stringify(arrayData));

            if (data.status == 200) {
                let rates = JSON.parse(data.rates);
                let automotor = JSON.parse(data.automotor);
                let name = '';

                if (automotor.enabled_items == true) {
                    $('.div-content-form-items').show('slow');
                    $('.item').val(automotor.automotor_items);
                    $('.cant-item').attr('required', true);
                }else{
                    $('.div-content-form-items').hide('slow');
                    $('.item').val('');
                    $('.cant-item').removeAttr('required', true);
                }

                if (rates.length === 0) {
                    alert('No hay tarifas registradas para este automotor');
                    return resolve(false);
                }

                $.each(rates, (key, rate) => {
                    switch (rate.type_rate) {
                        case 1: name = 'Hora ('+ rate.value_rate + ')'; break;
                        case 2: name = 'Diario ('+ rate.value_rate + ')'; break;
                        case 3: name = 'Semanal ('+ rate.value_rate + ')'; break;
                        case 4: name = 'Mensual ('+ rate.value_rate + ')'; break;
                    }

                    $('.rates-by-automotor').append(new Option(name, rate.id));
                });

                resolve(true);
            }
        });
    }

    $('.next').click(() => {
        offset += 6;
        searchListRecords('', offset);
    });

    $('.previous').click(() => {
        offset -= 6;
        searchListRecords('', offset);
    });

    $('.search-plate').click(() => {
        let plate = $('.search-by-plate').val();
        searchListRecords(plate.toUpperCase());

        $('.search-by-plate').val('');
    });

    searchListRecords();

    function searchListRecords(plate = '', offset = 0) {
        let data = ipcRenderer.sendSync('searchRecords', JSON.stringify({ 'plate': plate, 'offset': offset }));
        
        if(offset <= 0){
            $('.previous').hide('slow');
        }else{
            $('.previous').show('slow');
        }

        if (data.status == 200) {
            let records = JSON.parse(data.msg);
            let html = '';

            $('.records-list tr').remove();

            if(records.length > 0){
                $.each(records, (key, record) => {
                    html = '';
                    let name = '';
                    
                    html = 
                        '<tr class="select-row" recordid="'+ record.id +'">'+
                            '<td>'+ record.start_date_time +'</td>'+
                            '<td>'+ record.automotor +'</td>'+
                            '<td>'+ record.plate +'</td>';
                    
                    switch (record.rate) {
                        case 1: name = 'Hora'; break;
                        case 2: name = 'Diario'; break;
                        case 3: name = 'Semanal'; break;
                        case 4: name = 'Mensual'; break;
                    }

                    html += '<td>'+ name +'</td>';
                        '</tr>';

                    $('.records-list').append(html);
                });
            }else{
                html = '<tr><td colspan="4" class="text-center">No hay registros</td></tr>';
                $('.records-list').append(html);
            }

            if($('.records-list tr').length < 5 || $('.records-list tr').length == 0){
                $('.next').hide('slow');
            }else{
                $('.next').show('slow');
            }
        }
    }

    function checkOldRecordsForDatabaseCleaning(){
        let response = ipcRenderer.sendSync('checkForDatabaseCleaning');

        setTimeout(() => {
            if(response.status == 204){
                bootbox.confirm({
                    message: '<p class="text-center">'+ response.message +'</p><p class="text-center">Esta accion evitara la sobre carga de datos.</p>',
                    closeButton: false,
                    confirm: { label: 'Sí' },
                    cancel: { label: 'No', className: 'btn-secondary' },
                    callback: function (r) {
                        bootbox.hideAll();

                        if(r){
                            var dialog = bootbox.dialog({
                                message: '<p class="text-center mb-0"><i class="fa fa-spin fa-cog"></i>Limpiando datos, evite cerrar o supender el programa mientras se realiza este proceso ...</p>'+
                                            '<div class="d-flex justify-content-center"><div class="spinner-border" role="status">'+
                                                '<span class="sr-only">Loading...</span>'+
                                            '</div></div>',
                                closeButton: false
                            });
                            
                            response = ipcRenderer.sendSync('cleaningDatabaseAction');

                            if(response.status == 200){
                                setTimeout(() => {
                                    dialog.modal('hide');

                                    bootbox.dialog({
                                        message: '<p class="text-center mb-0">'+ response.message +'</p>',
                                        closeButton: false
                                    });

                                    setTimeout(() => {
                                        $('.return-to-index').click();
                                    }, 2000);
                                    
                                }, 10000);
                            }else{
                                console.log(response.message);
                            }
                        }
                    }
                });
            }
            
        },1500);
    }
});
</script>
{% endblock %}
