{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p class="h4 mb-4 text-center text-uppercase">Información de registro</p>
            </div>
            <table class="table table-bordered">
                <thead class="grey lighten-2">
                    <tr>
                        <th scope="col">Fecha y hora de entrada</th>
                        <th scope="col">Fecha y hora de salida</th>
                        <th scope="col">Automotor</th>
                        <th scope="col">Placa</th>
                        <th scope="col">Tarifa</th>
                        <th scope="col" class="title-amount-date">{% if record.end_date_time != null %}Precio total{% else %}Tarifa total hasta la fecha actual{% endif %}</th>
                    </tr>
                </thead>
                <tbody>
                    <td class="text-to-start-date">{{ record.start_date_time }}</td>
                    <td class="text-to-end-date">{% if record.end_date_time != null %}{{ record.end_date_time }}{% else %}No se ha registrado salida{% endif %}</td>
                    <td>{{ record.automotor }}</td>
                    <td>{{ record.plate }}</td>
                    <td class="rate-amount">
                        {% if record.rate == 1 %} Hora
                        {% elseif record.rate == 2 %} Diario
                        {% elseif record.rate == 3 %} Semanal
                        {% elseif record.rate == 4 %} Mensual
                        {% endif %}
                        ( {{ rate.value_rate|number_format(0, '', '.') }} )
                    </td>
                    <td>{{ amount|number_format(0, '', '.') }}</td>
                </tbody>
            </table>
            {% if record.end_date_time == null %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-record-exit">
                    <b>Precio a pagar</b>
                    <input type="text" class="form-control mb-4 total-amount" placeholder="Total" value="{{ amount|number_format(0, '', '.') }}">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-record-exit mask-money">
                    <b>Recibo</b>
                    <input type="text" class="form-control mb-4 amount-received mask-money" placeholder="Efectivo" value="{{ amount|number_format(0, '', '.') }}">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-to-divs-info-record div-record-exit">
                    <button class="btn btn-danger btn-block my-4 record-to-exit" recordId="{{ record.id }}" autofocus="true">Registrar Salida</button>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(() => {
    $('body').on('keyup', function(e){
        if(e.keyCode == 13){
            $('.record-to-exit').click();
        }
    });
})
</script>
{% endblock %}