{% extends "base.html.twig" %}

{% block content %}
{% include "messageLoading.html.twig" %}
<div class="body-to-nav"></div>

<div class="container" style="padding: 0%!important">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 style-div-module-sing-up">
            <form class="text-center p-5" id="form-login">
                <p class="h4 mb-4">Inicio de Sesión</p>

                <input type="text" id="username" class="form-control mb-4" placeholder="Username" value="Administrador">
                <input type="password" id="password" class="form-control mb-4" placeholder="Password" autofocus="true">

                <!-- Sign in button -->
                <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
                <a class="font-italic" id="mount-backup-copy" href="javascript:" title="Suba su copia de seguridad previamente almacenada">Montar copia de seguridad</a>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-backup" tabindex="-1" role="dialog" aria-labelledby="modal-backup" aria-hidden="true">

    <!-- Change class .modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title w-100" id="myModalLabel">Copia de seguridad</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-center setTextResponseBackUp"></div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">cancelar</button>
            <button type="button" class="btn btn-primary btn-sm mounthFileBackup" fileBackup="">Montar</button>
        </div>
        </div>
    </div>
</div>

{% endblock %}
