<div class="body-to-nav">
	<nav class="mb-1 navbar navbar-expand-lg navbar-dark primary-color">
		<a class="navbar-brand return-to-index" href="javascript:" title="Volver al inicio">PARQUEADERO LA 12</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent-333">
			<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" id="nav-automotores" href="javascript:" title="Registro de automotores">Automotor</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="nav-tarifas" href="javascript:" title="Tarifas por automotor">Tarifas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="nav-informes" href="javascript:" title="Informe de mensualidades">Informes</a>
					</li>
					{% if dataUser.isAdmin == true %}
						<li class="nav-item">
							<a class="nav-link" id="nav-box" href="javascript:" title="Consulta el registro de caja">Caja</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="nav-usuarios" href="javascript:" title="Usuarios registrados">Usuarios</a>
						</li>
					{% endif %}
					{% if dataUser.isAdmin == true and dataUser.rol == 'SuperUser' %}
						<li class="nav-item">
							<a class="nav-link" id="nav-support" href="javascript:" title="Soporte">Soporte</a>
						</li>
					{% endif %}
				</ul>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
				<ul class="navbar-nav ml-auto nav-flex-icons">
					<li class="nav-item dropdown style-padding-icon-user">
						<a class="nav-link dropdown-toggle text-right" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img src="../public/imagenes/userIcon.png" width="50%">
						</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-default text-center" aria-labelledby="navbarDropdownMenuLink-333">
							{% if dataUser is defined %}<p class="h6 font-weight-bold">{{ dataUser.name }} {{ dataUser.lastname }}</p>{% endif %}
							<a class="dropdown-item" id="backup" href="javascript:">Crear copia de seguridad</a>
							<a class="dropdown-item" id="logout" href="javascript:">Cerrar Session</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
