{% extends "base.html.twig" %}

{% block content %}
<div class="container">
	<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 style-div-index">
            <form class="text-center border border-light p-5" id="createAutomotor">
                <p class="h4 mb-4">Registro de Automotores</p>
                <input type="text" name="automotorName" class="form-control mb-4 automotorName" placeholder="Nombre de Automotor" required="true">
                <input type="text" name="item" class="form-control mb-4 hidden item" placeholder="Artículo a Almacenar">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input type="checkbox" class="fn-check-item" name="enabledItem" id="enabledItem"><br>
                    <label for="enabledItem">Habilitar guardado de articulos para este tipo de Automotor</label>
                </div>
                <button class="btn btn-info btn-block my-4" type="submit">Guardar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}