{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 style-div-index">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form class="text-center border border-light p-5" id="createRate">
                    <p class="h4 mb-4">Registro de Tarifas</p>
                    <select class="form-control mb-4 automotor-to-rate" required="true">
                        <option value="" hidden>Seleccione tipo de automotor</option>
                        {% for automotor in automotores %}
                            <option value="{{ automotor.id }}">{{ automotor.automotor_type }}</option>
                        {% endfor %}
                    </select>
                    <select class="form-control mb-4 type-rate" required="true">
                        <option value="" hidden>Tipo de Tarifa</option>
                        <option value="1">Hora</option>
                        <option value="2">Diario</option>
                        <option value="3">Semanal</option>
                    </select>
                    <input type="text" class="form-control mask-money mb4 rate-value" placeholder="VALOR DE LA TARIFA" required="true">
                    <button class="btn btn-info btn-block my-4" type="submit">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}