{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 style-div-index">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form class="text-center border border-light p-5" id="createUser">
                    <p class="h4 mb-4">Registro de usuarios nuevos</p>
                    <input type="text" class="form-control mb-4 name" placeholder="Nombre" required="true">
                    <input type="text" class="form-control mb-4 lastname" placeholder="Apellido" required="true">
                    <select class="form-control mb-4 rol" required="true">
                        <option value="" hidden>Seleccione rol</option>
                        <option value="1">Administrador</option>
                        <option value="0">Empleado</option>
                    </select>
                    <label class="style-warning-username-text">Con este nombre de usuario iniciara session</label>
                    <input type="text" class="form-control mb-4 username" placeholder="Nombre de usuario" required="true">
                    <input type="password" class="form-control mb-4 password" placeholder="Contraseña" required="true">
                    <input type="password" class="form-control mb-4 confPassword" placeholder="Confirmar contraseña" required="true">
                    <button class="btn btn-info btn-block my-4" type="submit">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}