{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 style-padding-in-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <a href="javascript:" class="btn btn-light return-to-index">Volver</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                <a href="javascript:" class="btn btn-light newRate float-right">Registrar Tarifa</a>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><p class="h3 mb-4 text-center font-weight-bold">Tarifas</p></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table datatable table-bordered">
                <thead class="grey lighten-2">
                    <tr>
                        <th scope="col">Tipo de Automotor</th>
                        <th scope="col">Tipo de Tarifa</th>
                        <th scope="col">Valor de Tarifa</th>
                        <th scope="col">Editar Tarifa</th>
                        {# <th scope="col">Eliminar Tarifa</th> #}
                    </tr>
                </thead>
                <tbody>
                    {% for rate in rates %}
                        <tr>
                            <td>{{ rate.automotor_type }}</td>
                            <td>
                                {% if rate.type_rate == 1 %}
                                    Hora
                                {% elseif rate.type_rate == 2 %}
                                    Diario
                                {% elseif rate.type_rate == 3 %}
                                    Semanal
                                {% elseif rate.type_rate == 4 %}
                                    Mensual
                                {% endif %}
                            </td>
                            <td>{{ rate.value_rate }}</td>
                            <td><a href="javascript:" class="edit-rate"title="Editar Tarifa" rateId="{{ rate.id }}"><img src="../public/imagenes/edit.png" width="30px"></a></td>
                            {# <td><a href="javascript:" class="delete-rate" title="Eliminar Tarifa" rateId="{{ rate.id }}"><img src="../public/imagenes/delete.png" width="30px"></a></td> #}
                        </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </div>       
    </div>
</div>
{% endblock %}