{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 style-div-index">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form class="text-center border border-light p-5" id="updateRate">
                    <p class="h4 mb-4">Actualizacion datos de la tarifa</p>
                    <input type="hidden" class="rate-id" value="{{ rate.id }}">
                    <select class="form-control mb-4 rate-type-automotor" required="true">
                        <option value="" hidden>Seleccione tipo de automotor</option>
                        {% for automotor in automotores %}
                            <option value="{{ automotor.id }}" {% if rate.automotor_type == automotor.id %} selected="true" {% endif %}>{{ automotor.automotor_type }}</option>
                        {% endfor %}
                    </select>
                    <select class="form-control mb-4 type-rate" required="true">
                        <option value="" hidden>Tipo de Tarifa</option>
                        <option value="1" {% if rate.type_rate == 1 %} selected="true" {% endif %}>Hora</option>
                        <option value="2" {% if rate.type_rate == 2 %} selected="true" {% endif %}>Diario</option>
                        <option value="3" {% if rate.type_rate == 3 %} selected="true" {% endif %}>Semanal</option>
                        <option value="4" {% if rate.type_rate == 4 %} selected="true" {% endif %}>Mensual</option>
                    </select>
                    <input type="text" class="form-control mask-money mb4 rate-value" value="{{ rate.value_rate }},00" placeholder="Valor de la tarifa" required="true">
                    <button class="btn btn-info btn-block my-4" type="submit">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}