{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="records-entry-tab" data-toggle="tab" href="#records-entry" role="tab" aria-controls="records-entry" aria-selected="true">Informe de Entradas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="records-exit-tab" data-toggle="tab" href="#records-exit" role="tab" aria-controls="records-exit" aria-selected="false">Informe de Salidas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="monthly-fees-tab" data-toggle="tab" href="#monthly-fees" role="tab" aria-controls="monthly-fees" aria-selected="false">Registro de Mensualidades</a>
            </li>
        </ul>
        <div class="tab-content col-lg-12 col-md-12 col-sm-12 col-xs-12" id="myTabContent">
            <div class="tab-pane fade show active" id="records-entry" role="tabpanel" aria-labelledby="records-entry-tab">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 style-pad-new-report-father">
                    <table class="table datatable-reports table-bordered">
                        <thead class="grey lighten-2">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Contacto</th>
                                <th scope="col">Automotor</th>
                                <th scope="col">Placa</th>
                                <th scope="col">Fecha de entrada</th>
                                <th scope="col">Fecha a pagar</th>
                                <th scope="col">Tarifa a pagar</th>
                                <th scope="col">Atrasos</th>
                            </tr>
                        </thead>
                        <tbody class="records-list">
                            {% set key = 1 %}
                            {% for report in reports %}
                                {% if report.status == true %}
                                    <tr reportId="{{ report.id }}" class="select-row-report" data-toggle="modal" data-target="#basicExampleModal" {% if report.days > 0 %} style="background-color: #FF0000;" {% endif %}>
                                        <td>{{ key }}</td>
                                        <td>{% for client in clients %} {% if report.client == client.id %} {{ client.full_name }} {% endif %} {% endfor %}</td>
                                        <td>{% for client in clients %} {% if report.client == client.id %} {{ client.phone }} {% endif %} {% endfor %}</td>
                                        <td>{% for automotor in automotores %} {% if report.automotor == automotor.id %} {{ automotor.automotor_type }} {% endif %} {% endfor %}</td>
                                        <td>{{ report.plate }}</td>
                                        <td>{{ report.report_start_date|date_modify("+1 day")|date('d/m/Y') }}</td>
                                        <td>{{ report.report_end_date|date_modify("+1 day")|date('d/m/Y') }}</td>
                                        <td>{{ report.rate }}</td>
                                        <td>{% if report.days > 0 %} Tiene un atraso de {{ report.days }} días {% else %} Esta al día {% endif %}</td>
                                    </tr>
                                    {% set key = key + 1 %}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table> 
                </div>
            </div>

            <div class="tab-pane fade" id="records-exit" role="tabpanel" aria-labelledby="records-exit-tab">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 style-pad-new-report-father">
                    <table class="table datatable table-bordered">
                        <thead class="grey lighten-2">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Contacto</th>
                                <th scope="col">Automotor</th>
                                <th scope="col">Placa</th>
                                <th scope="col">Fecha de entrada</th>
                                <th scope="col">Fecha a pagar</th>
                            </tr>
                        </thead>
                        <tbody class="records-list">
                            {% set key = 1 %}
                            {% for report in reports %}
                                {% if report.status == false %}
                                    <tr reportId="{{ report.id }}" class="select-row-report" data-toggle="modal" data-target="#basicExampleModal2">
                                        <td>{{ key }}</td>
                                        <td>{% for client in clients %} {% if report.client == client.id %} {{ client.full_name }} {% endif %} {% endfor %}</td>
                                        <td>{% for client in clients %} {% if report.client == client.id %} {{ client.phone }} {% endif %} {% endfor %}</td>
                                        <td>{% for automotor in automotores %} {% if report.automotor == automotor.id %} {{ automotor.automotor_type }} {% endif %} {% endfor %}</td>
                                        <td>{{ report.plate }}</td>
                                        <td>{{ report.report_start_date|date_modify("+1 day")|date('d/m/Y') }}</td>
                                        <td>{{ report.report_end_date|date_modify("+1 day")|date('d/m/Y') }}</td>
                                    </tr>
                                    {% set key = key + 1 %}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table> 
                </div>
            </div>

            <div class="tab-pane fade" id="monthly-fees" role="tabpanel" aria-labelledby="monthly-fees-tab">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 style-pad-new-report-father">
                    <form class="text-center border border-light p-5 new-report" >
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label class="h4 mb-4">Datos de la mensualidad</label>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h6 class="text-left">Tipo de automotor</h6>
                                <select class="form-control mb-4 inx-automotor report-automotor" required="true">
                                    <option value="" hidden>Tipo de automotor</option>
                                    {% for automotor in automotores %}
                                        <option value="{{ automotor.id }}">{{ automotor.automotor_type }}</option>
                                    {% endfor %}
                                </select>
                                <h6 class="text-left">Placa</h6>
                                <input type="text" class="form-control mb-4 inx-plate plate style-text-uppercase" autofocus="true" placeholder="Placa" maxlength="6" required="true">
                                <h6 class="text-left">Valor de la mensualidad</h6>
                                <input type="text" class="form-control mb-4 rate mask-money" placeholder="Valor de tarifa mensual" required="true">
                                <h6 class="text-left">Fecha de entrada</h6>
                                <input type="date" class="form-control mb-4 date-entry" placeholder="Fecha de ingreso" required="true">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label class="h4 mb-4">Datos del cliente</label>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h6 class="text-left">Nombre completo</h6>
                                <input type="text" class="form-control mb-4 client-full-name" clientId="" placeholder="Nombre completo del cliente" required="true">
                                <div class="results-clients"><ul class="list-group list-group-flush"></ul></div>
                                <h6 class="text-left">Documento</h6>
                                <input type="text" class="form-control mb-4 client-document only-numbers" maxlength="10" placeholder="Documento" required="true">
                                <h6 class="text-left">Contacto</h6>
                                <input type="text" class="form-control mb-4 client-phone phone_us" placeholder="Telefono" required="true">
                                <h6 class="text-left">Fecha de cobro</h6>
                                <input type="date" class="form-control mb-4 date-payment" placeholder="Fecha de cobro" required="true">
                            </div>
                        </div>

                        <button class="btn btn-info btn-block my-4" >Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog style-large-modal" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="exampleModalLabel">¿Qué quiere hacer con estos registros?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body style-content-btns">
                <button type="button" class="btn btn-primary btn-rounded btn-sm my-0 report-exit" data-dismiss="modal">Cobrar</button>
                <button type="button" class="btn btn-light btn-rounded btn-sm my-0 report-edit" data-dismiss="modal">Editar Registro</button>
                <button type="button" class="btn btn-danger btn-rounded btn-sm my-0 report-delete" data-dismiss="modal">Eliminar Registro</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="basicExampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog style-large-modal" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="exampleModalLabel2">¿Qué quiere hacer con estos registros?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body style-content-btns">
                <button type="button" class="btn btn-primary btn-rounded btn-sm my-0 report-renove" data-dismiss="modal">Registrar de nuevo</button>
                <button type="button" class="btn btn-danger btn-rounded btn-sm my-0 report-delete" data-dismiss="modal">Eliminar Registro</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exit-report" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="text-center" >
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Cobro (Mensualidad)</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <input type="hidden" class="report-id">
                    <div class="md-form mb-5">
                        <input type="text" class="form-control mb-4 report-month-rate mask-money" placeholder="Total" value="">
                        <label data-error="wrong" data-success="right" for="defaultForm-email">Precio a pagar</label>
                    </div>

                    <div class="md-form mb-4">
                        <input type="text" id="report-payment" class="form-control mb-4 mask-money report-payment" placeholder="Efectivo">
                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Recibo</label>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-danger finalize-monthly-payment">Cobrar</button>
                </div>
            </form>
            <div class="modal-footer text-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 custom-control custom-checkbox style-pad-zero">
                        <input type="checkbox" class="custom-control-input" id="enable-next-charge" checked="true">
                        <label class="custom-control-label" for="enable-next-charge">Habilitar próximo cobro</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 next-charge">
                    <h5 class="modal-title w-100 font-weight-bold">Próxima fecha de inicio y cobro</h5>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">  
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 style-prox-payment">  
                            <h6 class="font-weight-bold">Próxima fecha de entrada <br> {{ 'now'|date("d/m/Y") }}</h6>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 style-prox-payment">
                            <h6 class="font-weight-bold">Próxima fecha de cobro <br> {{ 'now'|date_modify("+30 day")|date("d/m/Y") }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-report" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="text-center">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Actualizar datos de la mensualidad</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <input type="hidden" class="edit-report-id">
                    <div class="md-form mb-5">
                        <input type="date" class="form-control mb-4 edit-report-start-date">
                        <label data-error="wrong" data-success="right" for="start-date">Fecha de entrada</label>
                    </div>

                    <div class="md-form mb-4">
                        <input type="date" class="form-control mb-4 edit-report-end-date">
                        <label data-error="wrong" data-success="right" for="end-date">Fecha de cobro</label>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button id="update-report"  class="btn btn-success">Actualizar Datos</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="renove-report" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="text-center">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Renovar Mensualidad</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <input type="hidden" class="renove-report-id">
                    <div class="md-form mb-5">
                        <input type="date" class="form-control mb-4 renove-report-start-date">
                        <label data-error="wrong" data-success="right" for="start-date">Fecha de entrada</label>
                    </div>

                    <div class="md-form mb-4">
                        <input type="date" class="form-control mb-4 renove-report-end-date">
                        <label data-error="wrong" data-success="right" for="end-date">Fecha de cobro</label>
                    </div>

                    <div class="md-form mb-4">
                        <input type="text" placeholder="Valor de tarifa mensual" class="form-control mb-4 renove-report-rate mask-money" >
                        <label data-error="wrong" data-success="right" for="rate">Valor de tarifa mensual</label>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button id="btn-renove-report"  class="btn btn-success">Reingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>
    
{% endblock %}
{% block scripts %}
<script>
$(document).ready(() => {
    $('body').on('keyup', function(e){
        if(e.keyCode == 13){
            $('.date-entry').val(moment(new Date()).format('YYYY-MM-DD'));
            $('.date-payment').val(moment(new Date($('.date-entry').val())).add(30, 'days').format('YYYY-MM-DD'));
        }
    });
});
</script>
{% endblock %}