{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="support-records-tab" data-toggle="tab" href="#records-support" role="tab" aria-controls="records-support" aria-selected="true">Soporte Registro de Ingresos Viejos</a>
            </li>
        </ul>

        <div class="tab-content col-lg-12 col-md-12 col-sm-12 col-xs-12" id="myTabContent">
            <div class="tab-pane fade show active" id="records-support" role="tabpanel" aria-labelledby="records-support-tab">
                <table class="table table-bordered">
                    <thead class="grey lighten-2">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fecha de Ingreso</th>
                            <th scope="col">Fecha de Retiro</th>
                        </tr>
                    </thead>
                    <tbody class="records-list">
                        {% set key = 1 %}
                        {% for record in records %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ record.start_date_time|date("d/m/Y") }}</td>
                                <td>{{ record.end_date_time|date("d/m/Y") }}</td>
                            </tr>
                            {% set key = key + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}