{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 style-padding-in-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <a href="javascript:" class="btn btn-light return-to-index">Volver</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                <a href="javascript:" class="btn btn-light add-user float-right">Registrar Usuario</a>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><p class="h3 mb-4 text-center font-weight-bold">Usuarios</p></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table datatable table-bordered">
                <thead class="grey lighten-2">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Nombre de Usuario</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.name }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.rol }}</td>
                            <td><a href="javascript:" class="edit-user" title="Editar Información Usuario" userId="{{ user.user_id }}"><img src="../public/imagenes/edit.png" width="30px"></a></td>
                            <td><a href="javascript:" class="delete-user" title="Eliminar Usuario" userId="{{ user.user_id }}"><img src="../public/imagenes/delete.png" width="30px"></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table> 
        </div>  
    </div>
</div>
{% endblock %}