{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 style-div-index">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form class="text-center border border-light p-5" id="updateUser">
                    <p class="h4 mb-4">Actualizar datos de {{ user.name }} {{ user.lastName }}</p>
                    <input type="hidden" class="userId" value="{{ user.user_id }}">
                    <input type="text" class="form-control mb-4 name" placeholder="Nombre" value="{{ user.name }}">
                    <input type="text" class="form-control mb-4 lastname" placeholder="Apellido" value="{{ user.lastName }}">
                    <select class="form-control mb-4 rol">
                        <option value="" hidden>Seleccione rol</option>
                        <option value="1" {% if user.isAdmin == true %} selected="true" {% endif %}>Administrador</option>
                        <option value="0" {% if user.isAdmin == false %} selected="false" {% endif %}>Empleado</option>
                    </select>
                    <label class="style-warning-username-text">Con este nombre de usuario iniciara session</label>
                    <input type="text" class="form-control mb-4 username" placeholder="Nombre de usuario" value="{{ user.username }}">
                    <input type="password" class="form-control mb-4 password" placeholder="Contraseña">
                    <input type="password" class="form-control mb-4 confPassword" placeholder="Confirmar contraseña">
                    <button class="btn btn-info btn-block my-4" type="submit">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}