.container{
    padding-top: 5%;
}

nav{
    position: fixed!important;
    z-index: 1!important;
    width: 100%!important;
}

.col-xs-12, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2,
.col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3,
.col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5,
.col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6,
.col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8,
.col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9,
.col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-sm-12,
.col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.dataTables_paginate{
    width: 10%;
    margin-left: 83%;
    display: none;
}

.paginate_button, #DataTables_Table_0_next, #DataTables_Table_0_previous {
    text-decoration: none;
    background-color: #4285f4;
    color: #ffffff!important;
    padding: 6% 12%;
    border-radius: 12px;
    margin: 2%;
}

.paginate_button:hover, #DataTables_Table_0_previous:hover, #DataTables_Table_0_next:hover{
    background-color: #4285f496;
}

select, option{
    cursor: pointer;
}

.hidden{
    display: none;
}

.dataTables_length, .dataTables_info{
    position: absolute;
}

.dataTables_filter{
    float: right;
}

.style-div-index{
    padding: 3% 0% 0% 0%;
}

.style-padding-buttons-title a{
    width: 100%;
    height: 45px;
    max-height: 45px;
}

.style-padding-buttons-title img{
    padding: 12px 0px 0px 0px;
}

.style-padding-in-title{
    padding: 2% 0%;
}

.page-title{
    font-size: x-large;
}

.select-row{
    cursor: pointer;
}

.select-row-report{
    cursor: pointer;
}

.style-warning-username-text{
    float: left;
    font-size: small;
    color: red;
}

.search-plate{
    padding: 9px 0px;
}    

.style-pad-search-plate{
    padding: 0% 0% 2% 0%;
}

.style-pad-new-report-father{
    padding: 1% 0%;
}

.style-text-uppercase{
    text-transform: uppercase;
}

.results-clients ul{
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 0% 10%;
    margin-bottom: 19px;
    line-height: 4px;
    text-align: justify;
}

.style-select-client{
    cursor: pointer;
}

.style-select-client:hover{
    background-color: silver;
    color: floralwhite;
}

.float-right{
    float: right;
}

.style-cash-graphic{
    width: 1120px!important;
    height: 500px!important;
}

.records-list tr:hover{
    background-color: #2486dc;
    color: white;
}

.style-large-modal{
    max-width: 40%;
    width: 40%;
}

.style-content-btns{
    display: flex;
    align-items: center;
    justify-content: center;
}

.style-prox-payment{
    background-color: #1010b9;
    color: #f7f3f3;
}

.style-pad-zero{
    padding: 0;
}